@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgb(10, 15, 26), rgb(21, 31, 48));
    color: rgb(200, 200, 200);
}

.header {
    width: 100%;
    height: 60px;
    background: rgb(10, 15, 26);
    border-bottom: 1px solid rgb(31, 42, 58);
    padding: 0 40px;
    animation: fadeIn 1s ease-in-out;
    position: fixed;
    z-index: 1000;
}

.header .header-content {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 60px;
}

.header .header-content a {
    text-decoration: none;
}

.header .header-content .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.header .header-content .navbar a {
    color: rgb(200, 200, 200);
}

.header .header-content .navbar .left .title {
    display: inline-block;
    color: rgb(200, 200, 200);
    transition: all .2s ease-in-out;
}

.header .header-content .navbar .left .title:hover {
    scale: 1.1;
    color: rgb(225, 195, 115);
}

.header .header-content .navbar .center {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
}

.header .header-content .navbar .center a {
    color: rgb(200, 200, 200);
    transition: all .2s ease-in-out;
}

.header .header-content .navbar .center a:hover {
    scale: 1.1;
    color: rgb(225, 195, 115);
}

.header .header-content .navbar .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .header-content .navbar .right .about-us {
    transition: all .2s ease-in-out;
    color: rgb(200, 200, 200);
}

.header .header-content .navbar .right .about-us:hover {
    scale: 1.1;
    color: rgb(225, 195, 115);
}

.header .header-content .navbar .right .contact-us {
    transition: all .2s ease-in-out;
    color: rgb(200, 200, 200);
}

.header .header-content .navbar .right .contact-us:hover {
    scale: 1.1;
    color: rgb(225, 195, 115);
}

.gallery {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 60px 100px 46px 100px;
}

.gallery .gallery-title {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 30px;
    animation: toBottom 1s ease-in-out;
}

.gallery .gallery-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    background: linear-gradient(to right, rgb(29, 36, 56), rgb(19, 29, 46));
    border-radius: 10px;
    border: 1px solid rgb(228, 210, 163);
    padding: 10px;
    gap: 10px;
    width: 100%;
    animation: popUp 1s ease-in-out;
}

.gallery .gallery-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.gallery .gallery-content img:hover {
    opacity: .6;
}

.gallery .gallery-content .first {
    object-fit: cover;
    object-position: 50% 75%;
}

.gallery .gallery-content .eighth {
    object-fit: cover;
    object-position: 50% 25%;
} 

.gallery .gallery-content .twentieth {
    object-fit: cover;
    object-position: 50% 60%;
}

@keyframes popUp {
    0% {
        opacity: 0;
        scale: .8;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toBottom {
    0% {
        transform: translateY(-1000%);
    }
    100% {
        transform: translateY(0);
    }
}